.event-list {
    margin-bottom: 20px;
  }
  
  .event-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .event-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .event-list li div {
    margin-bottom: 10px;
  }
  
  .event-list li div:last-child {
    margin-bottom: 0;
  }