.contain{
  background-image: url('D:\Visual Studio\EVENTMANG\eventmang\src\components\assests\images.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFFFFF;
}