.admin-form {
    margin-bottom: 20px;
  }
  
  .admin-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .admin-form input[type="email"],
  .admin-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .admin-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  